<%- include("partials/userHeader") -%>
    <!-- Archived Feed -->
      <div class="container mt-5">
        <div class="row">
          <% for(let i=0; i<listings.length; i++) {%>
            <div class="col-md card g-2">
              <a href="/listing/<%= listings[i]._id%>" class="link-secondary">
                <% if (!listings[i].image) { %>
                  <div>
                    <img class="img-fluid card-img-top" src="/imgs/default-post-pic.jpg" alt="default post pic">
                  </div>
                <% } else { %>
                  <div>
                    <img class="img-fluid card-img-top" src="<%= listings[i].image%>">
                  </div>
                <% } %>
                <div class="card-body">
                  <h5 class="card-title text-center"><%=listings[i].title%></h5>
                </div>
              </a>
            </div>
          <% } %>
        </div>
      </div>

          <!-- Modals -->
    
      <!-- Employer Modals -->
      <% if (status === "employer") { %>
        <% if (JSON.stringify(employer) === "null") { %>

          <!-- Create Employer Profile Modal -->
          <div class="modal fade" id="createEmployer" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Employer Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/createEmployer") -%>
                </div>
              </div>
            </div>
          </div>
        <% } else { %>

          <!-- Edit Employer Profile Modal -->
          <div class="modal fade" id="editEmployer" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Employer Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/editEmployer") -%>
                </div>
              </div>
            </div>
          </div>
        <% } %>

        <!-- Create Listing Modal -->
        <div class="modal fade" id="createListing" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Create Listing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <%- include("modals/createListing") -%>
              </div>
            </div>
          </div>
        </div>
      <% } %>

    <!-- Seeker Modals -->
      <% if (status === "seeker") { %>
        <% if (JSON.stringify(seeker) === "null") { %>
          <!-- Create Seeker Profile Modal -->
          <div class="modal fade" id="createSeeker" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Seeker Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/createSeeker") -%>
                </div>
              </div>
            </div>
          </div>
        <% } else { %>
          
          <!-- Edit Seeker Profile Modal -->
          <div class="modal fade" id="editSeeker" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Seeker Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/editSeeker") -%>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
      
<%- include("partials/footer") -%>