<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div class="mt-5">
        <h2>Edit Employer Profile</h2>
        <%console.log(employer)%>
        <form
          action="/employer/editEmployer/<%=employer._id%>?_method=PUT"
          method="POST"
        >
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="<%=employer.name%>"
            />
          </div>
          <div class="mb-3">
            <label for="companyName" class="form-label">Company Name</label>
            <input
              type="text"
              class="form-control"
              id="companyName"
              name="companyName"
              value="<%=employer.companyName%>"
            />
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              id="location"
              name="location"
              value="<%=employer.location%>"
            />
          </div>
          <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input
              type="text"
              class="form-control"
              id="number"
              name="number"
              value="<%=employer.number%>"
            />
          </div>
          <div class="mb-3">
            <label for="bioBlurb" class="form-label">About Me</label>
            <textarea
              class="form-control"
              id="bioBlurb"
              name="bioBlurb"
              value="<%=employer.bioBlurb%>"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input
              type="file"
              class="form-control"
              id="imageUpload"
              name="file"
              value="<%=employer.image%>"
            />
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
