<%- include("partials/header") -%>

    <!-- Listing -->
    <section class="p-5 text-center">
      <h1><%=listing.title%></h1>
      <span>Posted by: <a href="/publicProfile/<%=listing.user%>" class="link-secondary"><%=employer.name%></a></span>
      <div class="container bg-dark text-light mt-5">
        <div class="d-sm-flex p-5">
          <div class="w-50 m-auto p-5 border border-white rounded-top">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Company: <%=listing.company%></li>
              <li class="list-group-item">Location: <%=listing.city%>, <%=listing.state%></li>
              <li class="list-group-item">Telephone: <%=listing.number%></li>
              <li class="list-group-item">Business Site: <%=listing.site%></li>
              <li class="list-group-item">Job Description: <%=listing.description%></li>
            </ul>
          </div>
          <div class="w-50 m-auto p-5 border border-white rounded-top">
            <% if (listing.image) { %>
              <img class="img-fluid w-50" src="<%= listing.image%>"/>
            <% } else { %>
              <img class="img-fluid w-50" src="/imgs/default-post-pic.jpg" alt="default post pic"/>
            <% } %>
          </div>
        </div>
      </div>

      <!-- Delete Listing Button -->
      <% if(listing.user == user.id) { %>
        <div class="row justify-content-between">
          <form action="/listing/deleteListing/<%=listing.id%>?_method=DELETE" method="POST" class="col-3">
            <button class="btn btn-secondary fa fa-trash" type="submit"></button>
          </form>
        </div>
      <% } %>
    </section>

        <!-- Ask A Question -->
      <section class="container">
        <div class="mt-5">
          <%if(listing.user != user.id){ %>
            <h2>Ask a question</h2>
            <form action="/questions/createQuestion/<%=listing.id%>" method="POST">
              <div class="mb-3">
                <label for="question" class="form-label">Question</label>
                <input type="text" class="form-control" id="question" name="question"/>
              </div>
              <button type="submit" class="btn btn-secondary">Ask</button>
            </form>
          <%}%>
        </div>
      </section>

    <!-- Questions Accordian  -->
    <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">Questions About The Job</h2>
        <% if (!questions.length) { %>
          <span class="text-center">There are currently no questions about this listing.</span>
        <% } %>
        <div class="accordion accordion-flush" id="questions">
          <% for(let i=0; i<questions.length; i++) {%>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-<%=i%>">
                  <div><%=questions[i].question%></div>
                </button>
              </h2>
              <div id="question-<%=i%>" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                  <div>
                    Asked by: <a href="/publicProfile/<%=questions[i].user%>" class="link-secondary"><%=seeker.name%></a>
                  </div>
                  <%if (questions[i].answer != undefined) { %>
                    <%=questions[i].answer%>
                  <%} else if(listing.user == user.id) { %>
                    <h2>Answer the question</h2>
                    <form action="/questions/addAnswer/<%=questions[i]._id%>/<%=listing.id%>?_method=PUT" method="POST">
                      <label for="answer" class="form-label">Answer</label>
                      <input type="text" class="form-control" id="answer" name="answer">
                      <button type="submit" class="btn btn-secondary">Answer</button>
                    </form>
                  <%} else { %>
                    This question has not been answered yet.
                  <%}%>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </section>

<%- include("partials/footer") -%>
