<%- include("partials/publicHeader") -%>

<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach((elem) => {
      %>
      <div class="alert alert-danger"><%= elem.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach((elem) => { %>
      <div class="alert alert-info"><%= elem.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </section>
  </div>
</main>

<!-- Signup Modal -->
<div class="modal fade" id="signup" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupLabel">Signup</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body"><%- include("modals/signup") -%></div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
