<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p>User Name: <%= user.userName %></p>
              <p>Email: <%= user.email %></p>
              <% if (user.profilePic) { %>
                <p><%= user.profilePic %></p>
              <% } %>
              <a href="/publicProfile/<%=user._id%>" class="col-3 btn btn-secondary">View Public Profile</a>
              <a href="/logout" class="col-3 btn btn-secondary">Logout</a>
          </div>
          <% if (status === "seeker" && !seeker.length) { %>
            <div class="row justify-content-center mt-5">
              <a class="btn btn-secondary" href="/createSeeker">Create Seeker Profile</a>
            </div>
          <% } else if (status === "seeker") { %>
            <div class="row justify-content-center mt-5">
             <a class="btn btn-secondary" href="/editSeeker">Edit Seeker Profile</a>
            </div>
          <% } %>
          <% if (status === "employer" && !employer.length) { %>
            <div class="row justify-content-center mt-5">
              <a class="btn btn-secondary" href="/createEmployer">Create Employer Profile</a>
            </div>
            <% } else if (status === "employer") { %>
            <div class="row justify-content-center mt-5">
              <a class="btn btn-secondary" href="/editEmployer">Edit Employer Profile</a>
            </div>
            <div class="row justify-content-center mt-5">
              <a class="btn btn-secondary" href="/createListing">Create Listing</a>
            </div>
          <% } %>
      </div>
  </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(let i=0; i<listings.length; i++) { %>
          <li class="col-6 justify-content-between mt-5">
            <a href="/listing/<%= listings[i]._id%>" class="link-secondary">
              <% if (!listings[i].image) { %>
                <div>
                  <img class="img-fluid" src="/imgs/default-post-pic.jpg" alt="default post pic">
                  <h3><%=listings[i].title%></h3>
                  <h4><%=listings[i].location%></h4>
                  <h4><%=listings[i].company%></h4>
                </div>
              <% } else { %>
                <img class="img-fluid" src="<%= listings[i].image%>">
                <%=listings[i].title%>
              <% } %>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-secondary" href="/feed">Return to Feed</a>
        </div>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>