<%- include("partials/userHeader") -%>

    <!-- User Info -->
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <div>
            <p>User Name: <%= user.userName %></p>
            <p>Email: <%= user.email %></p>
            <% if (user.profilePic) { %>
              <p><%= user.profilePic %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <!-- My Listings -->
    <% if (status === "employer") { %>
      <section class="container mt-5">
        <div class="row">
          <% for(let i=0; i<(listings.length > 6 ? 6 : listings.length); i++) {%>
            <div class="col-md card g-2">
              <a href="/listing/<%= listings[i]._id%>" class="link-secondary">
                <% if (!listings[i].image) { %>
                  <div>
                    <img class="img-fluid card-img-top" src="/imgs/default-post-pic.jpg" alt="default post pic">
                  </div>
                <% } else { %>
                  <div>
                    <img class="img-fluid card-img-top" src="<%= listings[i].image%>">
                  </div>
                <% } %>
                <div class="card-body">
                  <h5 class="card-title text-center"><%= listings[i].title%></h5>
                </div>
              </a>
            </div>
          <% } %>
        </div>
      </section>
    <% } %>

    <!-- My Questions -->
    <% if (status === "seeker") { %>
      <section class="container p-5">
        <h2 class="mt-5">My Questions: <% if (!questions) { %>
          No recent questions.
        </h2>
        <% } else { %>              
          <section id="questions" class="p-5">
            <div class="container">
              <div class="accordion accordion-flush" id="questions">
                <% for(let i=0; i<questions.length; i++) {%>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-<%=i%>">
                        <div><%=questions[i].question%></div>
                      </button>
                    </h2>
                    <div id="question-<%=i%>" class="accordion-collapse collapse" data-bs-parent="#questions">
                      <div class="accordion-body">
                        <div>
                          Asked on: <a href="/publicListing/<%= questions[i].listing%>" class="link-secondary">
                            <%=allListings.filter((elem,ind,arr) => elem._id == `${questions[i].listing}`)[0].title%>
                          </a>
                        </div>
                        <%if (questions[i].answer != undefined){ %>
                          <%=questions[i].answer%>
                        <%} else {%>
                          This question has not been answered yet.
                        <% } %>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </section>
        <% } %>
      </section>
    <% } %>

    <!-- Modals -->
    
      <!-- Employer Modals -->
      <% if (status === "employer") { %>
        <% if (JSON.stringify(employer) === "null") { %>

          <!-- Create Listing Modal -->
          <div class="modal fade" id="createListing" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Listing</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/createListing") -%>
                </div>
              </div>
            </div>
          </div>

          <!-- Create Employer Profile Modal -->
          <div class="modal fade" id="createEmployer" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Employer Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/createEmployer") -%>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit Employer Profile Modal -->
          <div class="modal fade" id="editEmployer" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Employer Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/editEmployer") -%>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>

    <!-- Seeker Modals -->
      <% if (status === "seeker") { %>
        <% if (JSON.stringify(seeker) === "null") { %>
          <!-- Create Seeker Profile Modal -->
          <div class="modal fade" id="createSeeker" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Seeker Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/createSeeker") -%>
                </div>
              </div>
            </div>
          </div>
        <% } else { %>
          <!-- Edit Seeker Profile Modal -->
          <div class="modal fade" id="editSeeker" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Seeker Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <%- include("modals/editSeeker") -%>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>

    <!-- Pop-up modal if profile hasn't been created yet, when working -->
    <!-- <script type="text/javascript">
      $(window).on("load", () => { 
          if (status != "employer") {
            $("#createEmployer").modal("show");
          } else if (status != "seeker") {
            $("#createSeeker").modal("show");
          }
      }); 
    </script> -->

<%- include("partials/footer") -%>