<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a listing</h2>
            <form action="/listing/createListing" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Position Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <textarea class="form-control" id="location" name="location"></textarea>
              </div>
              <div class="mb-3">
                <label for="company" class="form-label">Hiring Company</label>
                <textarea class="form-control" id="company" name="company"></textarea>
              </div>
              <div class="mb-3">
                <label for="number" class="form-label">Contact Phone</label>
                <textarea class="form-control" id="number" name="number"></textarea>
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Contact Address</label>
                <textarea class="form-control" id="address" name="address"></textarea>
              </div>
              <div class="mb-3">
                <label for="site" class="form-label">Company Site</label>
                <textarea class="form-control" id="site" name="site"></textarea>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Position Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(let i=0; i<listings.length; i++) { %>
          <li class="col-6 justify-content-between mt-5">
            <a href="/listing/<%= listings[i]._id%>">
              <% if (!listings[i].image) { %>
                <div class="img-fluid"></div>
                  <h3><%=listings[i].title%></h3>
                  <h4><%=listings[i].location%></h4>
                  <h4><%=listings[i].company%></h4>
                </div>
              <% } else { %>
                <img class="img-fluid" src="<%= listings[i].image%>">
                <%=listings[i].title%>
              <% } %>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>