<%- include("partials/header") -%>
<section class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%=listing.title%></h2>
      <div>Posted by: <a href="/publicProfile/<%=listing.user%>" class="link-secondary"><%=employer.name%></a></div>
        <% if (listing.image) { %>
          <img class="img-fluid" src="<%= listing.image%>">
        <% } else {%>
          <img class="img-fluid" src="/imgs/default-post-pic.jpg" alt="default post pic">
        <% } %>
    </div>
    <div class="col-3 mt-5">
      <h4><%=listing.location%></h4>
      <h3><%=listing.company%></h3>
      <h3><%=listing.number%></h3>
      <h3><%=listing.address%></h3>
      <h5><%=listing.site%></h5>
      <h2><%=listing.description%></h2>
    </div>
  </div>
</section>
<!-- Questions Accordian -->
<section id="questions" class="p-5">
  <div class="container">
    <h2 class="text-center mb-4">Questions About The Job</h2>
    <div class="accordion accordion-flush" id="questions">
      <% for(let i=0; i<questions.length; i++) {%>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#question-<%=i%>"
            >
              <div><%=questions[i].question%></div>
              <div>
                Asked by: <a href="/publicProfile/<%=questions[i].user%>" class="link-secondary"><%=seeker.name%></a>
              </div>
            </button>
          </h2>
          <div
            id="question-<%=i%>"
            class="accordion-collapse collapse"
            data-bs-parent="#questions"
          >
            <div class="accordion-body">
              <%if (questions[i].answer != undefined){ %>
                <%=questions[i].answer%>
              <%} else {%>
                This question has not been answered yet.
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>
<%- include("partials/footer") -%>