<%- include("partials/publicHeader") -%>

    <!-- Profile -->
    <section class="p-5 text-center">

      <!-- Employer -->
      <% if (employer) { %>
        <h1><%= employer.name %></h1>
        <div class="container bg-dark text-light mt-5">
          <div class="d-sm-flex p-5">
            <div class="w-50">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Company: <%= employer.companyName %></li>
                <li class="list-group-item">Location: <%= employer.city %>, <%= employer.state %></li>
                <li class="list-group-item">About The Company: <%= employer.bioBlurb %></li>
              </ul>
            </div>
            <% if (employer.image) { %>
              <img class="img-fluid" src="<%= employer.image %>" />
            <% } else { %>
              <img class="img-fluid" src="/imgs/default-profile-pic.jpg" alt="default profile pic"/>
            <% } %>
          </div>
        </div>

        <!-- Listings -->
        <h2 class="mt-5">Recent Listings: <% if (!listings) { %>
          No recent listings.
        </h2>
        <% } else { %>              
          <div class="container">
            <div class="row">
              <% for(let i=0; i<(listings.length < 6 ? listings.length : 6); i++) {%>
                <div class="col-md card g-2">
                  <a href="/publicListing/<%= listings[i]._id%>" class="link-secondary">
                    <% if (!listings[i].image) { %>
                      <div>
                        <img class="img-fluid card-img-top" src="/imgs/default-post-pic.jpg" alt="default post pic">
                      </div>
                    <% } else { %>
                      <div>
                        <img class="img-fluid card-img-top" src="<%= listings[i].image%>">
                      </div>
                    <% } %>
                    <div class="card-body">
                      <h5 class="card-title text-center"><%= listings[i].title %></h5>
                    </div>
                  </a>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      <% } %>

      <!-- Seeker  -->
      <% if (seeker) { %>
        <h1><%= seeker.name %></h1>
        <div class="container bg-dark text-light mt-5">
          <div class="d-sm-flex p-5">
            <div class="w-50">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Location: <%= seeker.city %>, <%= seeker.state %></li>
                <li class="list-group-item">About Me: <%= seeker.bioBlurb %></li>
              </ul>
            </div>
            <% if (seeker.image) { %>
              <img class="img-fluid w-50" src="<%= seeker.image %>" />
            <% } else { %>
              <img class="img-fluid w-50" src="/imgs/default-profile-pic.jpg" alt="default profile pic"/>
            <% } %>
          </div>
        </div>

        <!-- Questions -->
        <h2 class="mt-5">Recent Questions: <% if (!questions) { %>
          No recent questions.
        </h2>
        <% } else { %>              
          <section id="questions" class="p-5">
            <div class="container">
              <div class="accordion accordion-flush" id="questions">
                <% for(let i=0; i<(questions.length < 6 ? questions.length : 6); i++) {%>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-<%=i%>">
                        <div><%=questions[i].question%></div>
                      </button>
                    </h2>
                    <div id="question-<%=i%>" class="accordion-collapse collapse" data-bs-parent="#questions">
                      <div class="accordion-body">
                        <div>
                          Asked on: <a href="/publicListing/<%= questions[i].listing%>" class="link-secondary">
                            <%=allListings.filter((elem,ind,arr) => elem._id == `${questions[i].listing}`)[0].title%>
                          </a>
                        </div>
                        <%if (questions[i].answer != undefined){ %>
                          <%=questions[i].answer%>
                        <%} else {%>
                          This question has not been answered yet.
                        <% } %>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </section>
        <% } %>
      <% } %>
    </section>

    <!-- Signup Modal -->
    <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signupLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signupLabel">Signup</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%- include("modals/signup") -%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    
<%- include("partials/footer") -%>
